

{% extends 'app/base.html' %}

{% block content %}



 <div class="container">

        <div class="row">

            <div class="col-12 col-lg-12 ">
                <div class="card ">
          <div class="card-header">
           <div class="title">Edit task</div>
          </div>
          <div class="card-body">
<form method="post" action="/">
    {% csrf_token %}

  <div class="form-group">
    <label for="task-content">Enter task text</label>
    {{form}}
  </div>

<button type="submit" class="btn btn-lg btn-block btn-outline-primary">Edit task</button>
</form>


          </div>
        </div>
                </div>
        </div>



{% include "app/footer.html" %}
    </div>
{% endblock %}